<div class="form-container">
	<p class="title"> Iniciar Sesión </p>
	<form (ngSubmit)="login()" #loginForm="ngForm" class="form">
		<div class="input-group">
			<label for="email">email</label>
			<input [(ngModel)]="email" type="email" name="email" id="email" placeholder="" required>
		</div>
		<div class="input-group">
			<label for="password">Password</label>
			<input [(ngModel)]="password" type="password" name="password" id="password" placeholder="" required>
			<div class="forgot">
				<a rel="noopener noreferrer" href="#"> Olvidaste tu contraseña ?</a>
			</div>
		</div>
		<button type="submit" class="sign" [disabled]="!loginForm.form.valid"> Iniciar Sesión </button>
	</form>
	<p class="signup">No tienes una cuenta?
		<a rel="noopener noreferrer" href="#" class=""> Registrate </a>
	</p>
</div>