<form (ngSubmit)="createUser()" #createForm="ngForm" class="form">
    <p class="title"> Registrarse </p>
    <p class="message"> Registrate ahora y disfruta de nuestros servicios </p>
    <label>
        <input [(ngModel)]="username" name="username" required="" placeholder="" type="text" class="input">
        <span> Username </span>
    </label> 
            
    <label>
        <input [(ngModel)]="email" name="email" required="" placeholder="" type="email" class="input">
        <span> Email </span>
    </label> 
        
    <label>
        <input [(ngModel)]="password" name="password" required="" placeholder="" type="password" class="input">
        <span> Contraseña </span>
    </label>
    <button class="submit">Registrarse</button>
    <p class="signin"> Ya tienes una cuenta ? <a href="#"> Iniciar Sesión </a> </p>
</form>