p {
    text-align: center;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 3px;
    font-size: 20px;
    width: 500px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    padding-top: 50px;
}